.container{
  width: 500px;
  margin: 0 auto;
  background-color: red;
}
.container .content {
  
}
.container .content .Header{
  
}
.container .content .ContentList{
  
}
.container .content .footer {
  
}