
.container{
  width: 500px;
  margin: 0 auto;
  background-color: #f5f5f5;
}
.container .content {
  
}
.container .content .Header{
  
}
.container .content .ContentList{
  
}
.container .content .footer {
  
}