.html{
  background-color: #fff;
}
.container{
}
.container h1{
  position: absolute;
  top: -74px;
  width: 100%;
  font-size: 100px;
  font-weight: 400;
  text-align: center;
  color: rgb(135 48 48 / 15%);
}
.container .main{
  width: 550px;
  height: 65.6px;
  background-color:  #f5f5f5;
  margin: 130px auto;
  box-shadow: rgba(0, 0, 0, 0.2);
}
.container .content {
  
}
.container .content .Header{
  width: 100%;
  height: 65.6px;
  
}
.Header_Input{
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: 450;
  line-height: 1.4em;
  padding: 16px 16px 16px 60px;
  color: inherit;
}
.container .content .ContentList{
  width: 100%;
  height: 100%;
}
.container .content .footer {
  
}